<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="message"><%=message%></div>
        <div><%=mainname%></div>
        <div class="add">
            <form action="/add" method="post">
            <label for="addname" >Add User: </label>
            <input type="text" id="addname" placeholder="Enter Username" name="addname">
            <input type="text" class="none" value="<%=mainname%>" name="none">
            <button type="submit">Add User</button>
            </form>
        </div>
        <div class="delete">
            <form action="/delete" method="post">
            <label for="deletename">Delete User: </label>
            <input type="text" id="deletename" placeholder="Enter Username" name="deletename">
            <input type="text" class="none" value="<%=mainname%>" name="none">
            <button type="submit">Delete User</button>
            </form>
        </div>
    </header>
    <div class="main">
        <div class="update">
            <h1>Update Userdetails:</h1>
            <form action="/update" method="post">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required="">
                <span>Enter Free Time Slots</span>
                <div class="time">
                    <label for="from1">From: </label>
                    <input type="text" id="from1" name="from1">
                    <label for="to1">To: </label>
                    <input type="text" id="to1" name="to1">
                </div>
                <div class="time">
                    <label for="from2">From: </label>
                    <input type="text" id="from2" name="from2">
                    <label for="to2">To: </label>
                    <input type="text" id="to2" name="to2">
                </div>
                <div class="time">
                    <label for="from3">From: </label>
                    <input type="text" id="from3" name="from3">
                    <label for="to3">To: </label>
                    <input type="text" id="to3" name="to3">
                </div>
                <button type="submit">Update</button>
                <input type="text" class="none" value="<%=mainname%>" name="none">
            </form>
        </div>
        <div class="view">
            <h1>View Userdetails:</h1>
            <form action="/view" method="post">
                <label for="username">Username: </label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required="">
                <button type="submit">View</button>
                <input type="text" class="none" value="<%=mainname%>" name="none">
            </form>
            <span><%=show[0]%></span>
            <div class="time">
                <div class="from"><%=show[1]%></div>
                <div class="to"><%=show[2]%></div>
            </div>
            <div class="time">
                <div class="from"><%=show[3]%></div>
                <div class="to"><%=show[4]%></div>
            </div>
            <div class="time">
                <div class="from"><%=show[5]%></div>
                <div class="to"><%=show[6]%></div>
            </div>
        </div>
    </div>
    <footer>
        <span>Today: <%=date%></span>
    </footer>

</body>
</html>